{{ 'component-crosta-last-image.css' | asset_url | stylesheet_tag }}


<div class="last-image" style="background-image:url('{{ section.settings.image | img_url: 'master' }}')">
  <div class="top-row">
    <div class="left-col">
      <p>
        Nuestro pan de cada día
      </p>
    </div>
    <div class="right-col">
      <p>
        01
      </p>
    </div>
  </div>
  <h2>
    {{ section.settings.text }}
  </h2>
  <div class="bottom-row">
    <div class="image-col">
      {% render 'icon-logo' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Imagen cierre crosta",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "text",
      "id": "text",
      "default": "Masa madre",
      "label": "Texto sobre la imagen"
    }
  ]
}
{% endschema %}
