.last-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.last-image .top-row{
  display: flex;
  width: 100%;
  border-bottom: 1px solid white;
  color: white;
}

.last-image .top-row .left-col{
  width: 50%;
  text-align: left;
  padding-left: 50px;
}

.last-image .top-row .right-col{
  width: 50%;
  text-align: right;
  padding-right: 50px;
}

.last-image h2{
  font-size: 10em;
  text-align: center;
  width: 75%;
  text-transform: uppercase;
  color: white;
}

.last-image .bottom-row{
  text-align: left;
  border-top: 1px solid white;
}

.last-image .bottom-row img{
  width: 160px;
}

.last-image .bottom-row .image-col{
  padding: 50px 100px;
  border-right: 1px solid white;
}