.crosta-philosophy{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 75vh;
}

.icons-row{
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-row svg{
  margin-bottom: 50px;
}

.philofohy-text-row{
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  padding-bottom: 100px;
}

.philofohy-text-row h3{
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 36px;
}

.philofohy-text-row p{
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.philofohy-text-row img{
  width: 68px;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {

}