.rightCSS { 
  background: #1B2631;
  overflow: hidden;
} 
.rightCSS div {
  position: relative;
  animation: CSSright linear 18s infinite;
} 
@keyframes CSSright {
  0% { right: -100% }
  100% { right: 100% }
}

.marquee-item{
  display: inline-flex;
  align-items:center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.marquee-item h2{
  text-transform: uppercase;
  color: white;
  margin-left: 46px;
  margin-right: 46px;
  font-size: 24px;
}