.header-wrapper--border-bottom{
  border-bottom: 1px solid #1B2631;
}

.header__icons svg{
  color: #1B2631;
}

.header__menu-item{
  color: #1B2631;
}

.logo-col a svg{
  fill: #1B2631;
}

.header__icon--menu .icon{
  color: black;
}


.contact-section{
  display: flex;
  flex: 1;
  background: #FFF8F3;
  padding-top: 150px;
  padding-bottom: 75px;
}

.contact-section .image-col{
  width: 40%;
  text-align: center;
}

.contact-section .image-col img{
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.contact {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

input, textarea{
  border-bottom: 1px solid #1B2361 !important;
  box-shadow: none !important;
}

label{
  color: rgba(27, 38, 49, 0.42);
}

input:focus, textarea:focus{
  border: 1px solid #1B2361;
}

input:focus-visible, textarea:focus-visible{
  outline: none;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

.contact__button button{
  display: block;
  width: 100%;
  background: #E7A779;
  border: none;
  box-shadow: none;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}


@media only screen and (max-width: 768px) {

  .contact-section{
    flex-direction: column-reverse;
    padding-top: 100px;
    padding-bottom: 75px;
  }
  
  .contact-section .image-col{
    width: 100%;
  }
  
  .contact-section .image-col img{
    width: 100%;
    height: 100%;
    margin-top: 25px;
  }
  
  .contact {
    width: 100%;
  }

}