.image-right-row{
  display: flex;
  flex: 1;
}
.image-right-row .left-col{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-right-row .left-col h2{
  width: 90%;
  text-align: left;
  color: black;
}

.image-right-row .left-col p{
  width: 90%;
  color: black;
}

.image-right-row .right-col{
  width: 50%;
}

.image-right-row .right-col img{
  width: 100%;
  height: 100%;
}